[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
beautifulsoup4 = "*"
requests = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
